
  <div class="row with_zero_margin">
    <div class="col-sm-3 sfondo_bordo2"></div>
    <div class="col-sm-6">
      <div class="contain">
        <h1>Carrello</h1>
        <div class="row" style="padding-bottom:3vh;">
          <div class="col-sm-3 offset-sm-1">
            <img class="rounded-circle bordo" src="/assets/tooks.jpg" width="100" height="100">
          </div>
          <div class="col-sm-8">
            <div class="gioco_acquisto">
              <h6 style="padding-top:1.5vh;"><strong>Nome:</strong> Tooks</h6>
              <h6><strong>Categoria:</strong> Strategia</h6>
              <h6><strong>Prezzo:</strong> 50,00€</h6>
            </div>
          </div>
        </div>
        <div class="row" style="padding-bottom:3vh;">
          <div class="col-sm-3 offset-sm-1">
            <img class="rounded-circle bordo" src="/assets/tooks.jpg" width="100" height="100">
          </div>
          <div class="col-sm-8">
            <div class="gioco_acquisto">
              <h6 style="padding-top:1.5vh;"><strong>Nome:</strong> Tooks</h6>
              <h6><strong>Categoria:</strong> Strategia</h6>
              <h6><strong>Prezzo:</strong> 69.99€</h6>
            </div>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="totale">
          <h4><strong>Prezzo totale - </strong> 69.99€</h4>
        </div>

        <div class="acquisto">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Acquista ora
          </button>

          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Effettuare l'acquisto?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                  <button type="button" class="btn btn-primary">Acquista</button>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="col-sm-3 sfondo_bordo2"></div>
  </div>
