<div class="col-lg-3">
  <img class="rounded-circle" src="/assets/tooks.jpg" width="100" height="100">
  <div class="gioco_negozio">
    <h6 style="padding-top:3.2vh;"><strong>Nome: </strong> <%= @game.nome %>a </h6>

    <h6><strong>Categoria:</strong> Strategia</h6>
    <h6><strong>Prezzo:</strong> 50,00€<strong> </h6>
    <h6><%= link_to 'Aggiungi al Carrello', carrello_index_path %></strong></h6>
  </div>
  <button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color:#112233;color:#FFFFFF;">Dettagli »</button>
</div>
