<%= form_with(model: @utent, local: true) do |form| %>

<% end %>

<div class="new">
  <h1>Modifica l'utente </h1>

  <%= render 'form' %>
</div>

<div class="link"><strong>
  <%= link_to 'Utenti', utents_path  %>
  </strong>
</div>
