// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contain{
  padding-top:15vh;
  height:94vh;
}

.sfondo_bordo2{
  background-color: #112233;
}

.foto_login{
  width:25vh;
  height:25vh;
  border: solid 1px #000000;
  margin-top:3%;
  margin-left:2vh;


  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.blocco{
}

.blocco a{
  color:#112233;
}

.blocco a:hover{
  color:blue;
}

.fondo{
  color:#808080;
  margin-top:75vh;
}

.fondo a{
  color:#808080;
  text-decoration: underline;
}

.fondo a:hover{
  color:#808080;
}

.with_zero_margin{
  margin-left:0px !important;
  margin-right:0px !important;
}
