<%= form_with(model: @category, local: true) do |form| %>

<% end %>

<div class="new">
  <h1>Modifica la categoria </h1>

  <%= render 'form' %>
</div>

<div class="link"><strong>
  <%= link_to 'Giochi', categories_path  %>
  </strong>
</div>
